//>>>>> Component Button Here <<<<<//
.gt-theme-btn {
    color: $gt-white;
    overflow: hidden;
    transition: 700ms;
    position: relative;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    z-index: 1;

    .gt-text-btn {
        font-size: 16px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
        letter-spacing: 0.5px;
        background-color: $gt-theme-color;
        line-height: 1;
        padding: 21px 38px;
        display: inline-block;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        transition: all 700ms ease;
        text-transform: uppercase;
        z-index: 99;
       
        .gt-text-2 {
            display: inline-block;
        }

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $gt-header-color;
            z-index: -1;
            transition: all 500ms ease;
        }
    }

    .gt-icon-btn {
        background-color: $gt-theme-color;
        line-height: 1;
        padding: 19px 20px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        transition: all 500ms ease;
        z-index: 99;

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $gt-header-color;
            z-index: -1;
            transition: all 500ms ease;
        }

        i {
            display: inline-block;
        }
    }

    &:hover {
        .gt-text-btn {
            .gt-text-2 {
                animation: slideRight 600ms;
            }
            

            &::after {
                width: 100%;
                left: 0px;
            }
        }

        .gt-icon-btn {
            &::after {
                width: 100%;
                left: 0px;
            }

            i {
                animation: slideRight 500ms;
            }
        }
    }

    &.style-2 {
        .gt-text-btn {
            background-color: $gt-header-color;
            color: $gt-white;

            &::after {
                background-color: $gt-theme-color !important;
            }
        }
    }
}

.link-btn {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    color: $gt-white;
    position: relative;
    padding-left: 25px;

    &::after {
        position: absolute;
        top: 2px;
        left: 0;
        content: "\e902";
        color: $gt-theme-color;
        font-family: 'icomoon' !important;
    }

    &:hover {
        color: $gt-theme-color;
    }
}

//>>>>> Component Button End <<<<<//


@keyframes slideRight {
    49% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes slideUp {
    49% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}