.gt-counter-wrapper {
    .gt-counter-box {
        position: relative;
        z-index: 9;
        padding: 30px;
        padding-top: 0;

        &::before {
            @include before;
            background-color: $gt-white;
            z-index: -1;
            top: 45px;
            height: initial;
        }

        .gt-icon {
            width: 88px;
            height: 88px;
            line-height: 88px;
            text-align: center;
            background-color: $gt-header-color;
            font-size: 34px;
            color: $gt-white;
            margin: 0 auto;
            position: relative;
            z-index: 9;
            border-radius: 4px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 5px;
                content: "";
                background-color: $gt-theme-color;
                @include transition;
                z-index: -1;
                border-radius: 4px;
            }

            i {
                @include transition;
                display: inline-block;
            }
        }

        .gt-content {
            @include flex;
            justify-content: center;
            gap: 12px;
            margin-top: 10px;

            h2 {
                font-size: 64px;
                font-weight: 700;

                @include breakpoint (max-xxl){
                    font-size: 60px;
                }

                @include breakpoint (max-sm){
                    font-size: 55px;
                }

                @include breakpoint (max-xxs){
                    font-size: 44px;
                }
            }

            p {
                font-size: 18px;
                text-transform: capitalize;

                @include breakpoint (max-xxl){
                    font-size: 16px;
                }

                @include breakpoint (max-xxs){
                   font-size: 14px;
                }
            }
        }

        &:hover {
            .gt-icon {
                &::before {
                    height: 100%;
                }

                i {
                    transform: scaleX(-1) !important;
                }
            }
        }
    }
}

.gt-funfact-wrapper {
    position: relative;

    .gt-funfact-box-items {
        border: 1px solid #BFBFBF;
        @include flex;
        justify-content: space-between;
        line-height: 1;
        
        @include breakpoint (max-lg){
            display: inline-flex;
        }

        .gt-funfact-counter {
            text-align: center;
            padding: 60px 30px;
            border-right: 1px solid #BFBFBF;

            &.border-none {
                border-right: none;
            }

            h2 {
                font-size: 72px;
                margin-bottom: 10px;
                line-height: 1;
                margin-bottom: 10px;

                @include breakpoint (max-sm){
                   font-size: 50px;
                }

                @include breakpoint (max-xxs){
                    font-size: 40px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 600;
                font-family: $gt-heading-font;
                color: #595959;

                @include breakpoint (max-lg){
                   font-size: 16px;
                   margin-top: 5px;
                }

                @include breakpoint (max-xxs){
                   font-size: 14px;
                   line-height: 1.3;
                 }
            }
        }

        &.style-2 {
            margin-top: 45px;
        }
    }

    .funfact-text {
        font-size: 140px;
        letter-spacing: -1.4px;
        opacity: 0.03;
        line-height: 1;
        padding-top: 50px;

        @include breakpoint (max-xxl){
           font-size: 100px;
        }

        @include breakpoint (max-lg){
            display: none;
        }
    }

    .gt-funfact-content {
        .gt-section-title {
            margin-left: 30px;

            @include breakpoint (max-lg){
               margin-left: 0;
               margin-top: 30px;
            }

            @include breakpoint (max-md){
                text-align: center;
            }
        }
    }
}

.gt-feature-item-3 {
    background-color: $gt-bg-color;
    padding: 40px;
    position: relative;

    @include breakpoint (max-sm) {
        padding: 30px;
    }

    .gt-icon-item {
        @include flex;
        gap: 12px;
        margin-bottom: 15px;

        @include breakpoint (max-xl) {
            flex-wrap: wrap;
        }

        .icon {
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 100%;
            background-color: $gt-border-color;
            color: $gt-theme-color;
            @include transition;

            i {
                @include transition;
                display: inline-block;
            }
        }
    }

    &:hover {
        .icon {
            background-color: $gt-theme-color;
            color: $gt-white;

            i {
                transform: scaleX(-1) !important;
            }
        }
    }
}

.gt-feature-section-3 {
    position: relative;

    .gt-left-shape {
        position: absolute;
        left: 0;
        bottom: -55px;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .gt-right-shape {
        position: absolute;
        top: -170px;
        right: 0;
        z-index: -1;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    &::before {
        @include before;
        background-color: $gt-theme-color;
        top: 28%;
        height: 72%;
    }
}

// .gt-pricing-card-item-3 {
//     margin-top: 30px;
//     background-color: $gt-bg-color;
//     padding: 40px;

//     .gt-pricing-header {
//         h3 {
//             margin-bottom: 10px;
//         }

//         .gt-pricing-price {
//             @include flex;
//             justify-content: space-between;
//             margin-top: 24px;
//             border-bottom: 1.5px solid #D9D9D9;
//             padding-bottom: 24px;
//             margin-bottom: 30px;

//             h2 {
//                 font-size: 40px;
//                 color: $gt-theme-color;

//                 span {
//                     font-size: 16px;
//                     font-weight: 400;
//                     color: $gt-text-color;
//                 }
//             }

//             .text {
//                 font-size: 12px;
//                 font-weight: 400;
//                 transform: rotate(30.625deg);
//                 padding: 8px 12px;
//                 background-color: $gt-header-color;
//                 border-radius: 100px;
//                 color: $gt-white;
//                 line-height: 1;
//             }

//             .icon {
//                 width: 48px;
//                 height: 48px;
//                 line-height: 54px;
//                 text-align: center;
//                 background-color: $gt-white;
//                 color: $gt-header-color;
//                 @include transition;
//                 font-size: 28px;

//                 i {
//                     @include transition;
//                     display: inline-block;
//                 }
//             }
//         }
//     }

//     .gt-pricing-list {
//         margin-top: 30px;

//         @include breakpoint (max-xl){
//             flex-wrap: wrap;
//             gap: 20px;
//         }

//         li {
//             font-size: 16px;
//             font-weight: 400;
//             color: $gt-header-color;
//             font-family: $gt-heading-font;

//             &:not(:last-child) {
//                 margin-bottom: 14px;
//             }

//             i {
//                 color: $gt-header-color;
//                 margin-right: 8px;
//             }
//         }
//     }

//     .gt-pricing-button {

//         .gt-theme-btn {
//             background-color: transparent;
//             border: 1.5px solid $gt-theme-color;
//             justify-content: center;

//             .gt-text-btn {
//                 border: 1.5px solid $gt-theme-color;
//                 justify-content: center;
//             }
//         }
//     }

//     &:hover {
//         .gt-pricing-header {

//             .gt-pricing-price {

//                 .icon {
//                     background-color: $gt-theme-color;
//                     color: $gt-white;

//                     i {
//                         transform: scaleX(-1) !important;
//                     }
//                 }
//             }
//         }
//     }
// }

.gt-why-choose-wrapper {
    margin-bottom: -80px;

     @include breakpoint (max-xl){
       margin-bottom: 78px;
    }

    .gt-why-choose-image {
            direction: rtl;
            margin-top: -24px;
            margin-right: 15px;

            @include breakpoint (max-xl){
                display: none;
            }

        img {
            height: 100%;
        }
    }

    .gt-why-choose-content {
        margin-left: 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        @include breakpoint (max-xl){
               padding-top: 130px;
        }

        .gt-choose-text {
            margin-top: 25px;
            color: $gt-white;
            opacity: 0.7;
        }

        .gt-icon-items {
            margin-top: 30px;
            @include flex;
            justify-content: space-between;
            border-radius: 4px;
            border: 1.2px solid rgba(155, 155, 155, 0.32);
            padding: 0 20px;

            @include breakpoint (max-xl){
              flex-wrap: wrap;
            }

            li {
                @include flex;
                gap: 24px;
                height: 120px;

                &:not(:last-child){
                    border-right: 1.2px solid rgba(155, 155, 155, 0.32);
                    padding-right: 10px;

                     @include breakpoint (max-xxl){
                      border: none;
                      padding-right: 0;
                    }
                }

                .content {
                    max-width: 180px;

                    h4 {
                        color: $gt-white;
                    }
                }
            }
        }

        .gt-about-button {
            margin-top: 50px;

            .gt-theme-btn {
                .gt-text-btn {
                    &::after {
                        background-color: $gt-white;
                    }
                }   
                
                &:hover {
                    color: $gt-header-color;
                }
            }
        }

        &.style-2 {

            @include breakpoint (max-xl){
                padding-bottom: 100px;
                 padding-top: 55px;
            }

            @include breakpoint (max-lg){
                padding: 80px 0;
                padding-top: 35px;
            }
            
            .gt-icon-items {
                margin-top: 10px;
                @include flex;
                justify-content: start;
                border-radius: 0;
                gap: 50px;
                border: none;
                padding: 0 0;

                 @include breakpoint (max-xl){
                   flex-wrap: wrap;
                   gap: 10px;
                }

                li {
                    @include flex;
                    gap: 24px;
                    height: 120px;

                    &:not(:last-child){
                       padding: 0;
                       border: none;
                    }

                    .content {
                        max-width: 180px;

                        h4 {
                            color: $gt-white;
                        }
                    }
                }
            }

            .gt-feature-list-box {
                @include flex;
                gap: 40px;
                margin-top: 20px;

                @include breakpoint (max-xl){
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .client-box {
                    border-radius: 4px;
                    border: 1px solid $gt-white;
                    background: #161921;
                    text-align: center;
                    padding: 24px 18px;
                    max-width: 175px;
                    width: 100%;

                    h3 {
                        font-size: 18px;
                        font-weight: 600;
                        color: $gt-white;
                        margin-top: 15px;
                    }

                    p {
                        font-size: 14px;
                        opacity: 0.7;
                        color: $gt-white;
                    }
                }

                .gt-list {
                    li {
                        font-size: 20px;
                        font-weight: 600;
                        color: $gt-white;
                        font-family: $gt-heading-font;

                        i {
                            color: $gt-theme-color;
                            margin-right: 8px;
                        }

                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }

            }
        }
    }
}

.marquee-wrapper {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9;
}

.text-slider {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    height: 100px;
    line-height: 95px;
    font-weight: 700;
    text-transform: capitalize;
    color: $gt-white;


    // img {
    //     margin-bottom: 10px;
    // }

}

.marquee-inner {
    position: absolute;
    display: inline-flex;
    width: 200%;
}

.marquee-list {
    float: left;
    width: 50%;
}

.marquee-item {
    float: left;
    transition: animation 0.2s ease-out;
}

.marquee-inner.to-left {
    animation: marqueeLeft 25s linear infinite;
}

@keyframes marqueeLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.marquee-inner.to-right {
    animation: marqueeRight 25s linear infinite;
}

@keyframes marqueeRight {
    0% {
       right : 0;
    }
    100% {
        right: -100%;
    }
}

.marque-section-2 {
    position: relative;
}

.marquee-wrapper {
    background-color: #161921;

    img {
        margin-left: 45px;
        margin-right: 20px;
    }

    &.style-2 {
        background-color: $gt-theme-color;
    }
}

.gt-why-choose-section {
    position: relative;

    .gt-gear-shape {
        position: absolute;
        top: -130px;
        right: 50px;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.gt-how-work-wrapper-3 {
    position: relative;
    z-index: 9;

    .gt-main-line-shape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .gt-how-work-items-3 {
        text-align: center;

        h3 {
            color: $gt-white;
        }

        p {
            color: $gt-white;
            opacity: 0.7;
            max-width: 330px;
            margin: 15px auto 0;
        }

        .line-shape-1 {
            margin-top: 15px;
        }

        .line-shape-2 {
            margin-bottom: 15px;
        }
    }
}