.gt-pricing-wrapper {
    .gt-pricing-left-content {
        .pricing-text {
            margin-top: 30px;
        }

        .nav {
            display: inline-flex;
            align-items: center;
            border: 1.2px solid $gt-theme-color;
            margin-top: 50px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            .nav-item {
               
                .nav-link {
                    padding: 0;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $gt-heading-font;
                    color: $gt-header-color;
                    text-transform: uppercase;
                    padding: 12px 32px;

                    @include breakpoint (max-sm){
                       padding: 12px 15px;
                    }

                    &.active {
                        background-color: $gt-theme-color;
                        color: $gt-white;
                    }
                }
            }
        }
    }

    .gt-pricing-box-items {
        background-color: #F2F2F2;
        padding: 40px 30px;
        position: relative;
        @include transition;
        overflow: hidden;
        z-index: 9;
        border-radius: 8px;

        @include breakpoint (max-xxs){
            padding: 30px 24px;
        }

        .gt-price-tag {
            padding: 4px 12px;
            display: inline-block;
            background-color: $gt-header-color;
            font-size: 14px;
            text-align: center;
            color: $gt-white;
            position: absolute;
            top: 24px;
            right: -40px;
            transform: rotate(40.012deg);
            width: 185px;

            @include breakpoint (max-xxs){
                font-size: 10px;
                top: 13px;
                right: -43px;
            }
        }

        .gt-pricing-header {
            border-bottom: 1px solid rgba(191, 191, 191, .56);
            padding-bottom: 24px;
            margin-bottom: 24px;

            h2 {
                font-size: 48px;
                color: $gt-theme-color;
                margin-top: 10px;

                sub {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $gt-body-font;
                    margin-left: -10px;
                    color: $gt-text-color;
                }
            }
        }

        .gt-theme-btn {
            width: 100%;
            text-align: center;
            margin-top: 10px;

            .gt-text-btn {
                width: 100%;
                background: transparent;
                border: 1.2px solid $gt-theme-color;
                color: $gt-header-color;

                i {
                    margin-right: 10px;
                }

                &::after {
                    background: $gt-theme-color;
                }
            }

            &:hover {
                .gt-text-btn {
                    color: $gt-white;
                }
            }
        }

        .gt-pricing-list-items {
            margin-top: 25px;

            li {
                color: $gt-header-color;

                @include breakpoint (max-xxs){
                    font-size: 14px;
                }

                &:not(:last-child){
                    margin-bottom: 20px;

                    @include breakpoint (max-xxs){
                        margin-bottom: 10px;
                    }
                }
                
                i {
                    margin-right: 10px;
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 1.5px solid $gt-theme-color;
            border-left: 1.5px solid $gt-theme-color;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: initial;
            z-index: -1;
            border-radius: 8px;
        }
    
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 1.5px solid $gt-theme-color;
            border-right: 1.5px solid $gt-theme-color;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            border-radius: 8px;
        }

        &:hover {
            transform: translateY(-10px);
            &::after {
                width: 100%;
                height: 100%;
                visibility: visible;
                opacity: 1;
            }
    
            &::before {
                width: 100%;
                height: 100%;
                visibility: visible;
                opacity: 1;
                transform: initial;
                transform-origin: initial;
            }
        }
    }
}

.gt-pricing-section {
    position: relative;
    z-index: 9;

    .gt-pricing-left-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .gt-sub-title {
        font-size: 140px;
        line-height: 1;
        letter-spacing: -1.4px;
        opacity: 0.04;
        position: absolute;
        top: 0;
        left: -25%;
        transform: rotate(90deg);
        bottom: 0;
        height: 100%;
        z-index: -1;

        @include breakpoint (max-xl4){
            display: none;
        }
    }
}

.gt-pricing-card-item-3 {
    margin-top: 30px;
    background-color: $gt-white;
    padding: 40px;
    border-radius: 8px;
    position: relative;

    @include breakpoint (max-xl){
        padding: 30px;
    }

    .gt-time {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        border-radius: 0px 4px;
        background: #161921;
        color: $gt-white;
        width: 72px;
        height: 28px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .gt-pricing-header {
        text-align: center;

        h3 {
            margin-bottom: 10px;
        }

        .gt-pricing-price {
            text-align: center;
            margin-top: 24px;
            border-bottom: 1.5px solid #D9D9D9;
            padding-bottom: 24px;
            margin-bottom: 30px;

            h2 {
                font-size: 40px;
                color: $gt-theme-color;
                text-align: center;

                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: $gt-text-color;
                }
            }

            .text {
                font-size: 12px;
                font-weight: 400;
                transform: rotate(30.625deg);
                padding: 8px 12px;
                background-color: $gt-header-color;
                border-radius: 100px;
                color: $gt-white;
                line-height: 1;
                position: absolute;
                top: 31%;
                right: 30px;
            }

            .icon {
                width: 48px;
                height: 48px;
                line-height: 54px;
                text-align: center;
                background-color: $gt-white;
                color: $gt-header-color;
                @include transition;
                font-size: 28px;

                i {
                    @include transition;
                    display: inline-block;
                }
            }
        }
    }

    .gt-pricing-list {
        margin-top: 30px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 20px;
        }

        li {
            font-size: 16px;
            font-weight: 400;
            color: $gt-header-color;
            font-family: $gt-heading-font;

            &:not(:last-child) {
                margin-bottom: 14px;
            }

            i {
                color: $gt-header-color;
                margin-right: 8px;
            }
        }
    }

    .gt-pricing-button {
        margin-top: 30px;

        .gt-theme-btn {
            width: 100%;
            text-align: center;
            margin-top: 10px;

            .gt-text-btn {
                width: 100%;
                background: transparent;
                border: 1.2px solid $gt-theme-color;
                color: $gt-header-color;

                i {
                    margin-right: 10px;
                }

                &::after {
                    background: $gt-theme-color;
                }
            }

            &:hover {
                .gt-text-btn {
                    color: $gt-white;
                }
            }
        }
    }

    &:hover {
        .gt-pricing-header {

            .gt-pricing-price {

                .icon {
                    background-color: $gt-theme-color;
                    color: $gt-white;

                    i {
                        transform: scaleX(-1) !important;
                    }
                }
            }
        }
    }
}

.gt-pricing-section {
    position: relative;
    z-index: 9;

    .gt-car-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation: moveTruck 15s linear infinite;
    }

    @keyframes moveTruck {
    0% {
        left: -100px; /* Start off screen from the right */
    }
    100% {
        left: 100%; /* End off screen to the left */
    }
    }
}