
//>>>>> Section Title Start <<<<<//

.gt-section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
	margin-top: -6px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	span {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.5px;
		line-height: 1;
		color: $gt-theme-color;
		font-family: $gt-heading-font;
		position: relative;
		display: inline-block;
		margin-bottom: 25px;

		img {
			margin-right: 10px;

			&:last-child {
				margin-left: 10px;
			}
		}


		&.gt-style-3 {
			border: 1px solid $gt-theme-color;
            padding: 8px 16px;
            display: inline-block;
            border-radius: 100px;
			padding-left: 40px;

			&::after {
				top: 8px;
                left: 15px;
				content: "\e902";
			}

			&::before {
				display: none;
			}
		}
	}

	h2 {
		text-transform: capitalize;
	}
}

.gt-section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $gt-bg-color;
}

.section-bg-2 {
	background-color: $gt-header-color;
}


.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

