.gt-testimonial-box-items {
    margin-top: 30px;
    position: relative;
    z-index: 9;
    text-align: center;
    opacity: .32;

    &::before {
        @include before;
        background-color: #F2F2F2;
        z-index: -1;
        top: 40px;
        height: initial;
        opacity: .32;
    }

    .gt-testi-thumb {
        img {
            border-radius: 4px;
        }
    }

    .gt-testi-content {
        padding: 0 55px;
        margin-top: 40px;

        @include breakpoint (max-md){
           margin-top: 0;
           padding: 30px;
        }

        h5 {
            font-size: 20px;
            font-style: italic;
            font-weight: 600;
            line-height: 150%;
            color: #1D1D1D;

            @include breakpoint (max-md){
                font-size: 18px;
            }

            @include breakpoint (max-xxs){
                font-size: 16px;
            }
        }

        .client-info {
            margin-top: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $gt-white;
            padding: 12px 16px;
            gap: 30px;
            border-radius: 3px 4px 0px 0px;

            @include breakpoint (max-md){
                gap: 15px;
            }

            h4 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1;

                @include breakpoint (max-md){
                   font-size: 16px;
                }
            }

            p {
                color: #595959;
                line-height: 1;

                @include breakpoint (max-md){
                    font-size: 14px;
                }
            }
        }
    }
}

.gt-testimonial-wrapper {
    .gt-testimonial-content-slider .swiper-slide-active {
        .gt-testimonial-box-items {
            opacity: 1;
        
            &::before {
                background-color: $gt-theme-color;
                opacity: 1;
                border-radius: 8px;
            }
        
            .gt-testi-content {
                h5 {
                    color: $gt-white;
                }
            }
        }
    }

    .gt-testimonial-slider-thumb {
        max-width: 360px;
        height: 100px;

        @include breakpoint (max-sm){
            max-width: 100px;
        }

        img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }

        // &.swiper {
        //     overflow: initial;
        // }
    }

    .gt-testimonial-slider-thumb .swiper-wrapper {
        display: flex;
        gap: 0px;
    }
    
    .gt-testimonial-slider-thumb .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0; 
        width: auto;
    }

    .gt-testimonial-slider-thumb .swiper-slide-thumb-active img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        position: relative;
        z-index: 9;
        border: 2px solid $gt-theme-color;
    }

    .gt-testimonial-content-slider {
       margin-left: -17%;
       margin-right: -17%;

       @include breakpoint (max-md){
            margin-left: 0;
            margin-right: 0;
       }
    }

    .gt-array-items {
        @include flex;
        justify-content: space-between;
        margin: 30px auto 0;
        max-width: 660px;

        .array-prev {
            background-color: $gt-white;

            &:hover {
                background-color: $gt-theme-color;
                color: $gt-white;
            }
        }

        .array-next {
           
            &:hover {
                background-color: $gt-header-color;
                color: $gt-white;
            }
        }
    }
}

.gt-testimonail-wrapper-2 {
    margin-right: -40%;
    position: relative;

    .gt-dot-shape {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    @include breakpoint (max-lg){
        margin-right: 0;
    }

    .gt-testimonial-box-items-2 {
        margin-top: 30px;
        @include flex;
        gap: 32px;
        position: relative;
        max-width: 875px;

        @include breakpoint (max-md){
           flex-wrap: wrap;
           gap: 22px;
        }

        .gt-client-image {
            @include breakpoint (max-xxs){
                width: 140px;
                
                img {
                        @include imgw;
                }
            }
        }

        .gt-testimonial-content {
            opacity: 0;
            visibility: hidden;
            @include transition;

            .gt-star {
                color: #FCD554;
                margin-bottom: 7px;
            }

            p {
                font-size: 20px;
                font-weight: 600;
                font-family: $gt-heading-font;
                color: #161921;
                font-style: italic;
                opacity: .88;

                @include breakpoint (max-xxs){
                    font-size: 17px;
                }
            }

            .gt-client-info {
                margin-top: 24px;

                h3 {
                    color: #161921;
                }

                span {
                    opacity: .88;
                }
            }
        }

        .quote-icon {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .gt-testimonial-slider-2 .swiper-slide-active {
        .gt-testimonial-content {
            opacity: 1;
            visibility: visible;
        }
    }
}

.gt-testimonial-section-2 {
    position: relative;
    z-index: 9;

    .arra-button {

        @include breakpoint (max-xxxl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            top: 59%;
            z-index: 99;
            position: absolute;
            left: 11%;
            border-radius: 8px;
        }
    
        .array-next {
            text-align: center;
            background-color: $gt-theme-color;
            color: $gt-white;
            position: absolute;
            top: 59%;
            z-index: 99;
            position: absolute;
            right: 20%;
            border-radius: 8px;
    
            @include breakpoint (max-xl4){
                display: none;
            }
    
            &:hover {
                background-color: $gt-header-color;
                color: $gt-white;
            }
        }
    }
    

    .gt-bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        @include breakpoint (max-xl){
           display: none;
        }

        img {
            width: 100%;
        }
    }

    .gt-sub-title {
        font-size: 140px;
        line-height: 1;
        letter-spacing: -1.4px;
        opacity: 0.04;
        position: absolute;
        top: 0;
        right: 7%;
        transform: rotate(90deg);
        bottom: 0;
        height: 100%;
        z-index: -1;
        color: #FCFCFC;

        @include breakpoint (max-xl4){
            display: none;
        }
    }
}

.gt-testimonial-wrapper-3 {

    .gt-testimonial-image {
        img {
            @include imgw;
            border-radius: 8px;
        }
    }

    .gt-testi-content {
        border-radius: 8px;
    }
}


.gt-testi-main-box {
    margin-right: -56%;
    margin-left: -110px;
    position: relative;

    @include breakpoint (max-xl) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .gt-testimonial-slider-3 .swiper-slide-active {

        .gt-testimonial-box {
            opacity: 1;
        
            &::before {
                background-color: $gt-theme-color;
                opacity: 1;
            }
        
            .gt-testi-content {
                h5 {
                    color: $gt-white;
                }

                .gt-testimonial-info {

                    .content {
                        h3 {
                            color: $gt-white;
                        }

                        span {
                            color: $gt-white;
                        }
                    }
                }
            }
        }
    }

    .gt-testimonial-box {
        position: relative;
        z-index: 9;
        opacity: .32;
        padding: 40px;
        border-radius: 8px;

        @include breakpoint (max-sm) {
            padding: 30px;
        }
    
        &::before {
            @include before;
            background-color: $gt-border-color;
            z-index: -1;
            opacity: .32;
            border-radius: 8px;
        }
    
        .gt-testi-content {
    
            .gt-star {
                color: rgba(252, 213, 84, 1);
                margin-bottom: 10px;
            }
    
            h5 {
                font-size: 18px;
                font-style: italic;
                font-weight: 600;
                line-height: 160%;
                color: $gt-header-color;
                margin-bottom: 20px;
    
                @include breakpoint (max-md){
                    font-size: 18px;
                }
    
                @include breakpoint (max-xxs){
                    font-size: 16px;
                }
            }
    
            .gt-testimonial-info {
                @include flex;
                justify-content: space-between;
                margin-top: 25px;
            }
        }
    }
}