
:root {
    
    --gt-body: #fff;
    --gt-black: #000;
    --gt-white: #fff;
    --gt-theme: #EB3300;
    --gt-header: #161921;
    --gt-text: #696B72;
    --gt-border: #FCFCFC;
    --gt-bg: #F5F5F5;
    --gt-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$gt-black: var(--gt-black);
$gt-white: var(--gt-white);
$gt-theme-color: var(--gt-theme);
$gt-text-color: var(--gt-text);
$gt-header-color: var(--gt-header);
$gt-border-color: var(--gt-border);
$gt-bg-color: var(--gt-bg);
$gt-shadow: var(--gt-box-shadow);